body {
    background-color: rgb(23, 23, 24);
    font-family: 'Exo 2', sans-serif;
}

nav {
    display: inline-table;
}

nav a{
    display: inline-table;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(42, 42, 53);
    border-radius: 25px;
    width: 100%;
}

nav a:visited{
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: rgb(67, 67, 100);
    color: white;

}

#allvideos {
   
    text-align: center;
  
}

#allvideos h2 {
    color: white;
    background-color: rgb(42, 42, 53);
    padding: 20px;

    border-radius: 25px;
}

.video {
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    
    

}

.video iframe {
    border-radius: 10px;
}

/* #supplement a  {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(42, 42, 53);
    display: inline;
    border-radius: 25px;

} */







